
html {
font:100% /1.15 serif;
}


body {
max-width: 60rem;
padding: 0 1em 0 1em;
margin-left: auto;
margin-right: auto;
}

/*font*/
body{
  font-family: times, serif;
  padding: 0 3.5%;
  padding: 1.2rem;
  margin: 0 auto;
}

/* Resets */

figure {
margin: 0;
}

h1 {
font-weight: bold;
}

h2 {
  color: #900C3F;
  font-size: 3em;
  margin-top:.25em;
  margin-bottom: .25em;
  margin-left: .5em;
  margin-right: 1em;
}

h3 {
  color:#900C3F;
  font-size: 2em;
  margin-top:.5em;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-right: 1em;
}

h4 {
  color: #900C3F;
  font-size: 2em;
  margin-top:.5em;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-right: 1em;
}

h5 {
  color: #900C3F;
  font-size: 2em;
  margin-top:.5em;
  margin-bottom:.25em;
  margin-left: .25em;
  margin-right: 1em;
}

h6 {
  color:#900C3F;
  font-size: 2em;
  margin-top:.5em;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-right: 1em;
}

/* typographic details */
p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
    line-height: 1.75; /*unitless, please */
    margin-left: .25em;
    margin-right:1em;
  }

  /* navigation / menu */

nav {
  padding: .25rem;
  border: 1px solid #000;
  margin-top: .25rem;
}

nav ul {
  list-style: none;
  padding-left:0;
}


nav li, p {
  margin-top: 1em;
  list-style: none;
  padding-left: 1em;
  line-height: 1;
}


/* Links */

a {
text-decoration: underline;
font-size: 1em;
}

a {
  color:#B51442;
}
a:hover {
  color: #F68067;
}
a:focus,
a:active {
  color:#E5275E;
}


/* ---responsive images */
img {
  width: auto;
  max-width: 75%;
  height: auto;
}

figure.hero {
    margin:1em 1em;
  }
figure.kylie-box {
    margin:1em 1em;
  }
