html {
font:100% /1.15 serif;
}

body {
max-width: 60rem;
background-color: #FBF6E4;
padding: 1rem;
margin: 0 auto;
}

/* lists */
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

ol,
ul {
  padding-left: 1.4em;
}


/* navigation / menu */

nav {
  padding: 1rem;
  border: 1px solid #000;
  margin-top: 1rem;
}

nav ul {
  list-style: none;
  padding-left:0;
}

nav li {
  margin-top: .65rem;
}

nav li {
  list-style: none;
  padding-left: 1em;
}


nav li:first-child {
  margin-top:0;
}

/* text details*/

.fractions{
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1;
  vertical-align: middle;
}

mark{
  background-color: #cfc
}

/* recipe lists*/

.info dt,{
  margin-top: 1rem;
}

.info dd, {
  margin-top: .5rem;
}

.list {
  list-style-position: inside;
  padding-left: 0;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

.list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px dashed #000;
}

.list li:first-child{
  border-top:0;
}

/* breakpoint for wider width layout*/
@media (min-width: 60em) {

  body {
    font-size: 125%;
  }

  !#ingredients {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    margin-right: 3%;
  }

  !#step-1 {
    display: inline-block;
    width: 68%;
    vertical-align: top;
  }

}
